  *{
    margin: 0;
    padding: 0;
   
}
.container{
   
    display: flex;
    margin: auto; 
    justify-content: center; 
    align-items: center;
    height: 800px;
    
}


  .image-google{
    width: 200px;
}   
.image-google:hover{
    width: 450px;
}


  .rectangle{
    height: 50px;
    width: 500px;
    position: absolute; 
    top: 500px;
}

input[type="text"]{
width: 100%;
height: 100%;
border: 1px solid #d5d4d4;
border-radius: 50px;
padding: 0 0 0 15px;
box-shadow: 0px 0px 16px 15px rgba(92,87,87,0.17);
}
.Add-button{
    position: absolute; 
    top: 570px;
    left:840px;
} 

.Add-button-two{
    position: absolute; 
    top: 570px;
    left:950px;
} 

.large-rectangle{
    width: 100%;
    height: 50px;
    background-color: floralwhite;
    margin-top: 120px;
    position: relative;
}
.text{
position: absolute;
font-size: 20px;
top: 25px;
left: 25px;
color: grey;
}

.text-two{
    position: absolute;
    font-size: 20px;
    top: 25px;
    left: 185px;
    color: grey;
    }
   
.text-three{
        position: absolute;
        font-size: 20px;
        top: 25px;
        right: 250px;
        color: grey;
        }   
.text-four{
            position: absolute;
            font-size: 20px;
            top: 25px;
            right: 175px;
            color: grey;
            }

.text-five{
             position: absolute;
             font-size: 20px;
             top: 25px;
             right: 80px;
             color: grey;
                }       
                
.head-one{
    position: absolute;
    font-size: 20px;
    top: 25px;
   left: 80px;
    color: grey;
    
}
.head-two{
    position: absolute;
    font-size: 20px;
    top: 25px;
   left: 150px;
    color: grey;
    
}


.head-three{
    position: absolute;
    font-size: 20px;
    top: 25px;
    right: 350px;
    color: grey;
    
}
.head-four{
    position: absolute;
    font-size: 20px;
    top: 25px;
    right: 250px;
    color: grey;
    
}


.bell-logo{
    position: absolute;
    top: 15px;
    right : 115px;
    border-radius: 75%;
    width: 35px;
} 
.menu{
    position: absolute;
    top: 15px;
    right : 180px;
    width: 35px;
}     
.icon-account{
    position: absolute;
    top: 15px;
    right : 50px;
    width: 35px;
}
h2, 
p[style] {
    background-color: #00b93e;
} 